[submodule "build/dmenu"]
	path = build/dmenu
	url = https://git.suckless.org/dmenu
[submodule "build/lf"]
	path = build/lf
	url = git@github.com:SPFabGerman/lf.git
[submodule ".config/emacs/ligature.el"]
	path = .config/emacs/ligature.el
	url = https://github.com/mickeynp/ligature.el.git
[submodule ".config/emacs/org-appear"]
	path = .config/emacs/org-appear
	url = https://github.com/SPFabGerman/org-appear
[submodule ".config/emacs/org-evil"]
	path = .config/emacs/org-evil
	url = https://github.com/GuiltyDolphin/org-evil.git
[submodule ".config/emacs/org-pretty-table"]
	path = .config/emacs/org-pretty-table
	url = https://github.com/Fuco1/org-pretty-table.git
[submodule ".config/tmux/tmux-better-mouse-mode"]
	path = .config/tmux/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode.git
[submodule "build/rofi-bluetooth"]
	path = build/rofi-bluetooth
	url = https://github.com/nickclyde/rofi-bluetooth.git
[submodule ".config/zsh/F-Sy-H"]
	path = .config/zsh/F-Sy-H
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule ".config/zsh/zsh-autocomplete"]
	path = .config/zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/zsh-completion-generator"]
	path = .config/zsh/zsh-completion-generator
	url = https://github.com/RobSis/zsh-completion-generator.git
[submodule ".config/zsh/zsh-completions"]
	path = .config/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
