/***********
 ! Scrollbar
************/

scrollbar {
	background-color: #d1d1d1;
	transition: 300ms ease-out;
}

* {
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;
}

scrollbar.top {
	border-bottom: 1px solid #bdbdbd;
}

scrollbar.bottom {
	border-top: 1px solid #bdbdbd;
}

scrollbar.left {
	border-right: 1px solid #bdbdbd;
}

scrollbar.right {
	border-left: 1px solid #bdbdbd;
}

scrollbar:backdrop {
	background-color: #d6d6d6;
	border-color: mix(#dedede, #bdbdbd, 0.9);
	transition: 400ms ease-in;
}

scrollbar slider {
	min-width: 8px;
	min-height: 8px;
	border: 1px solid transparent;
	border-radius: 0px;
	background-clip: padding-box;
	background-color: #808080;
}

scrollbar slider:hover {
	background-color: #6f6f6f;
}

scrollbar slider:hover:active {
	background-color: #434343;
}

scrollbar slider:backdrop {
	background-color: mix(mix(#555, #dedede, 0.5), #dedede, 0.4);
}

scrollbar slider:disabled {
	background-color: transparent;
}

scrollbar.horizontal slider {
	min-width: 40px;
}

scrollbar.vertical slider {
	min-height: 40px;
}

scrollbar.fine-tune slider:active {
	background-color: #f26a64;
}

scrollbar.overlay-indicator {
	opacity: .8;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
	border-color: transparent;
	opacity: .4;
	background-color: transparent;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
	min-width: 4px;
	min-height: 4px;
	background-color: #555;
	border: 1px solid #fff;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
	min-width: 4px;
	min-height: 4px;
	border-color: transparent;
	-gtk-icon-source: none;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider {
	min-width: 40px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal button {
	min-width: 7px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical slider {
	min-height: 40px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical button {
	min-height: 7px;
}

scrollbar button {
	min-width: 7px;
	min-height: 7px;
	padding: 0;
	border: 0;
	border-radius: 0;
	border-color: #bdbdbd;
	background-color: transparent;
	box-shadow: none;
	color: #6f6f6f;
}

scrollbar button:hover {
	color: #434343;
}

scrollbar button:active,
scrollbar button:checked {
	color: #ee3e34;
}

scrollbar button:backdrop {
	color: mix(mix(#555, #dedede, 0.5), #dedede, 0.4);
}

scrollbar.vertical button.down {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	border-top: 1px solid #bdbdbd;
}

scrollbar.vertical button.up {
	-gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
	border-bottom: 1px solid #bdbdbd;
}

scrollbar.horizontal button.down {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
	border-left: 1px solid #bdbdbd;
}

scrollbar.horizontal button.up {
	-gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
	border-right: 1px solid #bdbdbd;
}
